.mainFxmlClass{
    -fx-background-color: white;
}

.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane > .viewport { 
   -fx-background-color: transparent;
}
.login{
    -fx-background-image: url(../image/cover.png);
    -fx-background-repeat: no-repeat; 
}

.button {
    -fx-font-weight: bold;
}
/*Usado para componente de data */
.title-label{
    -fx-text-align: center;
    -fx-font-size: 20px;
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-background-color: #0000ff;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}

.background{
    -fx-background-color: #f4f4f4;
}

.label-bold{
    -fx-font-weight: bold;
}

.title-label-center-bold{
    -fx-text-align: center;
    -fx-font-size: 20px;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-background-color: darkgray;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-padding: 0 0 0 10;
    -fx-font-weight: bold;
}

.meses-component{
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}
.logo{
    -fx-text-fill:white;
    -fx-font-size:30px;
}

.font-image{
    -fx-text-fill:white;
}
.obrigatorio{
    -fx-text-fill:red;
}

.titulo-manutencao{
    -fx-font-size:25px;
    -fx-font-style:italic;
    -fx-font-weight:bold;
}