mainFxmlClass{
    -fx-background-color: white;
}

.login{
    -fx-background-image: url(../image/stefanini.jpg);
    -fx-background-repeat: no-repeat; 
}

.button {
    -fx-font-weight: bold;
}

.title-label{
    -fx-text-align: center;
    -fx-font-size: 20px;
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
    -fx-background-color: #0000ff;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}

.meses-component{
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}
.logo{
    -fx-text-fill:white;
    -fx-font-size:30px;
}

.font-image{
    -fx-text-fill:white;
}